.window-results {
  $window-results: &;

  @apply absolute
  rounded-b-lg border-[2px]
  border-solid border-primary;

  &__container {
    @apply h-[250px] rounded-b-lg
    border-[1px] overflow-y-scroll
    border-solid border-border bg-secondary
    p-2 flex flex-col gap-2;

    &::-webkit-scrollbar {
      @apply w-2.5;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-primary rounded-lg;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: 5px 5px 5px -5px rgba(15, 68, 113, 0.5) inset;
      @apply rounded-lg;
    }
  }

  &__top-panel {
    @apply absolute top-[-29px] left-[-2px] right-[-2px]
    p-2 bg-primary flex items-center justify-end
    cursor-move rounded-t-lg;

    &-icon {
      @apply cursor-pointer
      text-primary rounded-full
      w-5 h-5 font-medium
      bg-red flex justify-center items-center
      active:bg-primary select-none;
      transform: rotateZ(45deg);
    }
  }
}
