.info-banner {
  $info-banner: &;

  @apply w-[705px] h-[469px] rounded-2xl
  pl-[30px] pr-[30px] py-10
  flex flex-col gap-[50px];

  &__title {
    @apply flex items-center uppercase
    font-medium text-18 leading-6 text-primary;
  }

  &__marker {
    @apply w-[10px] h-[10px] border-2
    border-solid border-red rounded-full;
  }

  &__description {
    @apply flex flex-row gap-[30px];

  }

  &__collage {
    display: grid;
    grid-template-columns: 146px 146px;
    grid-template-rows: 146px 146px;
    grid-column-gap: 15px;
    grid-row-gap: 9px;
    border-radius: 0 50px 0 50px;

    img {
      @apply w-[146px] h-[146px];
    }

    &__img {
      &-one {}
      &-two {
        border-radius: 0 50px 0 0;
      }
      &-three {
        border-radius: 0 0 0 50px;
      }
      &-four {}
    }
  }
}
